<form id="pagerForm" method="post" action="{:U('admin/account/index')}">
    <input type="hidden" name="pageNum" value="{$currentPage}" />
    <input type="hidden" name="numPerPage" value="{$numPerPage}" />
    <input type="hidden" name="orderField" value="" />
    <input type="hidden" name="orderDirection" value="asc" />
</form>
<div class="pageContent">
    <div class="panelBar">
        <ul class="toolBar">
            <li><a class="add" href="{:U('admin/account/add')}" target="dialog" mask="true" title="添加账户信息"><span>添加</span></a></li>
            <li><a class="delete" href="{:U('admin/account/delete')}?id={cid}" target="ajaxTodo" title="确定要删除选中的账户吗?" warn="请先选择账户！"><span>删除</span></a></li>
            <li><a class="edit" href="{:U('admin/account/modify')}?id={cid}" target="dialog" mask="true" title="修改账户信息" warn="请先选择账户！"><span>修改</span></a></li>
            <li class="line">line</li>
            <li><a class="icon" href="{:U('admin/request/index')}/account?id={cid}" target="dialog" mask="true" width="840" height="420" warn="请先选择账户！"><span>账户流水</span></a></li>
            <li><a class="icon" href="{:U('admin/account/detail')}?id={cid}" target="dialog" mask="true" title="账户详细信息" warn="请先选择账户！" ><span>详细信息</span></a></li>
            <li><a class="icon" href="{:U('admin/account/total')}" target="dialog" mask="true" title="账户资金汇总"><span>资金汇总</span></a></li>
            <!--<li class="line">line</li>
            <li><a class="icon" href="demo/common/dwz-team.xls" target="dwzExport" targettype="navTab" title="实要导出这些记录吗?"><span>导出EXCEL</span></a></li>-->
        </ul>
    </div>
    <table class="table" width="100%" layoutH="75">
        <thead>
            <tr>
                <th>账户编号</th>
                <th>账户名称</th>
                <th>账号</th>
                <th>开户行</th>
                <th align="center">当前余额</th>
            </tr>
        </thead>
        <tbody>
            <volist name="data" id="item">
                <tr target="cid" rel="{$item.acct_id}">
                    <td>{$item.acct_id}</td>
                    <td>{$item.acct_name}</td>
                    <td>{$item.acct_no}</td>
                    <td>{$item.acct_bank}</td>
                    <td>{$item.acct_balance}</td>
                </tr>
            </volist>
        </tbody>
    </table>
    <div class="panelBar">
        <div class="pages">
            <span>显示</span>
            <select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value})">
                <option value="10"<?php if($numPerPage==10) echo ' selected'; ?>>10</option>
                <option value="20"<?php if($numPerPage==20) echo ' selected'; ?>>20</option>
                <option value="50"<?php if($numPerPage==50) echo ' selected'; ?>>50</option>
                <option value="100"<?php if($numPerPage==100) echo ' selected'; ?>>100</option>
            </select>
            <span>条，共 {$totalCount} 条</span>
        </div>
        <div class="pagination" targettype="navTab" totalcount="{$totalCount}" numperpage="{$numPerPage}" pagenumshown="10" currentpage="{$currentPage}"></div>
    </div>
</div>
