<form id="pagerForm" method="post" action="{:U('admin/system/logs')}">
    <input type="hidden" name="pageNum" value="{$currentPage}" />
    <input type="hidden" name="numPerPage" value="{$numPerPage}" />
    <input type="hidden" name="orderField" value="" />
    <input type="hidden" name="orderDirection" value="asc" />
</form>
<div class="pageContent">
    <table class="table" width="100%" layoutH="48">
        <thead>
            <tr>
                <th>登录时间</th>
                <th>员工</th>
                <th>IP</th>
                <th>登录方式</th>
                <th>业务系统</th>
                <th>结果</th>
            </tr>
        </thead>
        <tbody>
            <volist name="data" id="item">
                <tr>
                    <td>{$item.log_date}</td>
                    <td>{$item.oper_no|find_oper_no}</td>
                    <td>{$item.log_ip}</td>
                    <td>{$item.log_method}</td>
                    <td>{$item.log_target}</td>
                    <td>{$item.log_result}</td>
                </tr>
            </volist>
        </tbody>
    </table>
    <div class="panelBar">
        <div class="pages">
            <span>显示</span>
            <select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value})">
                <option value="10"<?php if($numPerPage==10) echo ' selected'; ?>>10</option>
                <option value="20"<?php if($numPerPage==20) echo ' selected'; ?>>20</option>
                <option value="50"<?php if($numPerPage==50) echo ' selected'; ?>>50</option>
                <option value="100"<?php if($numPerPage==100) echo ' selected'; ?>>100</option>
            </select>
            <span>条，共 {$totalCount} 条</span>
        </div>
        <div class="pagination" targettype="navTab" totalcount="{$totalCount}" numperpage="{$numPerPage}" pagenumshown="10" currentpage="{$currentPage}"></div>
    </div>
</div>
