<h2 class="contentTitle">{$btnText}岗位信息</h2>
<div class="pageContent">
    <form method="post" action="{:U('admin/post/change')}" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone);">
        <div class="pageFormContent nowrap" layoutH="97">
            <input type="hidden" name="type" value="{$btnText}" />
            <dl>
                <dt>岗位编号：</dt>
                <dd><input type="text" name="post_no" class="number required input" value="{$data.post_no}" minlength="5" maxlength="5" <?php if ($btnText=='修改') echo 'readonly'; ?> /></dd>
            </dl>
            <dl>
                <dt>岗位名称：</dt>
                <dd><input type="text" name="post_name" class="required input" value="{$data.post_name}" /></dd>
            </dl>
            <dl>
                <dt>上级岗位：</dt>
                <dd><input type="hidden" name="loop_post.post_no" lookupgroup="loop_post" value="{$data.higer_post}" /><input type="text" name="loop_post.post_name" class="input valid" value="{$data.higer_post|trans_post_no}" lookupgroup="loop_post" /><a class="btnLook" href="{:U('admin/post/detail')}" lookupgroup="loop_post">查找岗位</a></dd>
            </dl>
            <dl>
                <dt>岗位状态：</dt>
                <dd>
                    <select name="post_stat" class="required combox">
                        <option value="1"<?php if ($data['post_stat']==1) echo ' selected'; ?>>存在</option>
                        <option value="0"<?php if (isset($data['post_stat'])&&$data['post_stat']==0) echo ' selected'; ?>>撤销</option>
                    </select>
                </dd>
            </dl>
            <dl>
                <dt>备注：</dt>
                <dd><input type="text" name="post_mark" class="input" value="{$data.post_mark}" /></dd>
            </dl>
            <dl>
                <dt>权限：</dt>
                <eq name="btnText" value="添加">
                    <dd><label><input type="checkbox" name="post_right[]" value="1000" checked />&nbsp;订单管理</label><label><input type="checkbox" name="post_right[]" value="6000"  />&nbsp;销售管理</label><label><input type="checkbox" name="post_right[]" value="2000" />&nbsp;员工管理</label><label><input type="checkbox" name="post_right[]" value="3000" />&nbsp;财务管理</label><label><input type="checkbox" name="post_right[]" value="4000" checked />&nbsp;个人信息</label><label><input type="checkbox" name="post_right[]" value="5000" />&nbsp;系统设置</label></dd>
                    <else />
                    <dd><label><input type="checkbox" name="post_right[]" value="1000"<?php if (in_array('1000',$data['post_right'])) echo ' checked'; ?> />&nbsp;订单管理</label><label><input type="checkbox" name="post_right[]" value="6000"<?php if (in_array('6000',$data['post_right'])) echo ' checked'; ?> />&nbsp;销售管理</label><label><input type="checkbox" name="post_right[]" value="2000"<?php if (in_array('2000',$data['post_right'])) echo ' checked'; ?> />&nbsp;员工管理</label><label><input type="checkbox" name="post_right[]" value="3000"<?php if (in_array('3000',$data['post_right'])) echo ' checked'; ?> />&nbsp;财务管理</label><label><input type="checkbox" name="post_right[]" value="4000"<?php if (in_array('4000',$data['post_right'])) echo ' checked'; ?> />&nbsp;个人信息</label><label><input type="checkbox" name="post_right[]" value="5000"<?php if (in_array('5000',$data['post_right'])) echo ' checked'; ?> />&nbsp;系统设置</label></dd>
                </eq>
            </dl>
            <div class="divider"></div>
            <p><b>注意：</b>若该岗位为顶级岗位，请将上级岗位栏清空。</p>
        </div>
        <div class="formBar">
            <ul>
                <li><div class="buttonActive"><div class="buttonContent"><button type="submit">{$btnText}</button></div></div></li>
                <li>
                    <div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div>
                </li>
            </ul>
        </div>
    </form>
</div>
