<form id="pagerForm" method="post" action="{:U('admin/user/index')}">
    <input type="hidden" name="pageNum" value="{$currentPage}" />
    <input type="hidden" name="numPerPage" value="{$numPerPage}" />
    <input type="hidden" name="orderField" value="oper_stat" />
    <input type="hidden" name="orderDirection" value="desc" />
</form>
<div class="pageContent">
    <div class="panelBar">
        <ul class="toolBar">
            <li><a class="add" href="{:U('admin/user/add')}" target="navTab" rel="hrd" title="添加员工"><span>添加</span></a></li>
            <li><a class="delete" href="{:U('admin/user/delete')}?id={cid}" target="ajaxTodo" title="确定要删除选中的员工信息吗?" warn="请先选择员工"><span>删除</span></a></li>
            <li><a class="edit" href="{:U('admin/user/modify')}?id={cid}" target="navTab" rel="hrd" title="修改员工信息" warn="请先选择员工"><span>修改</span></a></li>
            <li class="line">line</li>
            <li><a class="icon" href="{:U('admin/user/leave')}?id={cid}" target="ajaxTodo" warn="请先选择员工"><span>更改状态</span></a></li>
            <li><a class="icon" href="{:U('admin/user/info')}?id={cid}" target="navTab" rel="hrd" title="员工详细信息" warn="请先选择员工"><span>详细信息</span></a></li>
            <!--<li class="line">line</li>
            <li><a class="icon" href="demo/common/dwz-team.xls" target="dwzExport" targettype="navTab" title="实要导出这些记录吗?"><span>导出EXCEL</span></a></li>-->
        </ul>
    </div>
    <table class="table" width="100%" layoutH="75">
        <thead>
            <tr>
                <th>工号</th>
                <th>姓名</th>
                <th>部门</th>
                <th>岗位</th>
                <th>状态</th>
                <th>手机</th>
                <th>备注</th>
            </tr>
        </thead>
        <tbody>
            <volist name="data" id="item">
                <tr target="cid" rel="{$item.oper_no}">
                    <td>{$item.oper_no|trans_oper_no}</td>
                    <td>{$item.oper_name}</td>
                    <td>{$item.oper_dept_no|trans_dept_no}</td>
                    <td>{$item.oper_post_no|trans_post_no}</td>
                    <td>{$item.oper_stat|trans_oper_stat}</td>
                    <td>{$item.oper_mobile}</td>
                    <td>{$item.oper_mark|msubstr=16}</td>
                </tr>
            </volist>
        </tbody>
    </table>
    <div class="panelBar">
        <div class="pages">
            <span>显示</span>
            <select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value})">
                <option value="10"<?php if ($numPerPage==10) echo ' selected'; ?>>10</option>
                <option value="20"<?php if ($numPerPage==20) echo ' selected'; ?>>20</option>
                <option value="50"<?php if ($numPerPage==50) echo ' selected'; ?>>50</option>
                <option value="100"<?php if ($numPerPage==100) echo ' selected'; ?>>100</option>
            </select>
            <span>条，共 {$totalCount} 条</span>
        </div>
        <div class="pagination" targettype="navTab" totalcount="{$totalCount}" numperpage="{$numPerPage}" pagenumshown="10" currentpage="{$currentPage}"></div>
    </div>
</div>
