<div class="pageContent">
    <form method="post" action="{:U('admin/user/setPwd.do')}" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone);">
        <div class="pageFormContent" layoutH="58">
            <p>
                <label>原密码：</label>
                <input type="password" name="pwd_c" class="required" size="30" maxlength="20" minlength="5" value="" />
            </p>
            <p>
                <label>新密码：</label>
                <input type="password" name="pwd_1" class="required" size="30" maxlength="20" minlength="5" value="" />
            </p>
            <p>
                <label>重新输入新密码：</label>
                <input type="password" name="pwd_2" class="required" size="30" maxlength="20" minlength="5" value="" />
            </p>
        </div>
        <div class="formBar">
            <ul>
                <li><div class="buttonActive"><div class="buttonContent"><button type="submit">修改</button></div></div></li>
                <li>
                    <div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div>
                </li>
            </ul>
        </div>
    </form>
</div>
