<div class="pageContent">
    <div class="pageFormContent nowrap" layoutH="58">
        <div class="tabs" eventtype="click" currentindex="0">
            <div class="tabsHeader">
                <div class="tabsHeaderContent">
                    <ul>
                        <li><a href="javascript:;"><span>订单信息</span></a></li>
                        <li><a href="javascript:;"><span>客户信息</span></a></li>
                        <li><a href="javascript:;"><span>费用信息</span></a></li>
                        <li><a href="javascript:;"><span>其它</span></a></li>

                    </ul>
                </div>
            </div>
            <div class="tabsContent">
                <div style="display: none;">
                    <p>
                        <label>订单ID：</label>
                        <label>{$data.ord_id}</label>
                    </p>
					<p>
                        <label>订单名称：</label>
                        <label>{$data.order_name}</label>
                    </p>
                    <p>
                        <label>订单建立时间：</label>
                        <label>{$data.ord_date}</label>
                    </p>
                    <p>
                        <label>员工：</label>
                        <label>{$data.oper_no|find_oper_no}</label>
                    </p>
                    <p>
                        <label>所属部门：</label>
                        <label>{$data.dept_no|trans_dept_no}</label>
                    </p>
                    <p>
                        <label>供应商名称：</label>
                        <label>{$data.provider_name}</label>
                    </p>
                    <p>
                        <label>订单线路出境：</label>
                        <label>{$data.order_area|find_param_no}</label>
                    </p>
                    <p>
                        <label>订单线路区域：</label>
                        <label>{$data.order_local}</label>
                    </p>
                </div>
                <div style="display: none;">
                    <p>
                        <label>客户出行时间：</label>
                        <label>{$data.depart_date}</label>
                    </p>
                    <p>
                        <label>客人代表名称：</label>
                        <label>{$data.custom_name}</label>
                    </p>
                    <p>
                        <label>人数：</label>
                        <label>{$data.person_no}</label>
                    </p>
                </div>
                <div style="display: none;">
                    <p>
                        <label>卖出单价：</label>
                        <label>{$data.sell_unit}</label>
                    </p>
                    <p>
                        <label>其他收入费用：</label>
                        <label>{$data.sell_other}</label>
                    </p>
                    <p>
                        <label>应收总价：</label>
                        <label>{$data.sell_total}</label>
                    </p>
                    <p>
                        <label>已收总价：</label>
                        <label>{$data.selled_total}</label>
                    </p>
                    <p>
                        <label>结算单价：</label>
                        <label>{$data.pay_unit}</label>
                    </p>
                    <p>
                        <label>保险购买途径：</label>
                        <label>{$data.insurance_way|find_param_no}</label>
                    </p>
                    <p>
                        <label>保险购买单价：</label>
                        <label>{$data.insurance_pay}</label>
                    </p>
                    <p>
                        <label>其他付出费用：</label>
                        <label>{$data.pay_other}</label>
                    </p>
                    <p>
                        <label>应付总价：</label>
                        <label>{$data.pay_total}</label>
                    </p>
                    <p>
                        <label>已付总价：</label>
                        <label>{$data.payed_total}</label>
                    </p>
                </div>
                <div style="display: none;">
                    <p>
                        <label>保险购买状态：</label>
                        <label>{$data.insurance_stat|find_param_no}</label>
                    </p>
                    <p>
                        <label>订单结算状态：</label>
                        <label>{$data.settle_stat|find_param_no}</label>
                    </p>
                    <p>
                        <label>备注：</label>
                        <label>{$data.ord_mark}</label>
                    </p>
                </div>
            </div>
            <div class="tabsFooter">
                <div class="tabsFooterContent"></div>
            </div>
        </div>
        <p>&nbsp;</p>
    </div>
    <div class="formBar">
        <ul>
            <li>
                <div class="button"><div class="buttonContent"><button type="button" class="close">关闭</button></div></div>
            </li>
        </ul>
    </div>
</div>
